.app > aside {
	background-color: var(--color-bg-blue);
	display: flex;
	flex-direction: column;
	display: flex;
	align-items: center;
}

.app ul {
	display: flex;
	width: 100%;
	flex: 1;
	flex-direction: column;
	justify-content: flex-start;
	padding: 0;
	margin: 0;
}