@import 'media/css/font-awesome.min.css'; 

:root {
	/* colors */
	--color-violet: rgb(103, 58, 183);
	--color-red: rgb(240, 82, 131);
	--color-blue: rgb(108, 174, 224);
	--color-bg-blue: rgb(52, 132, 179);
	--color-green: rgb(165, 209, 109);
	--color-white: rgb(255, 255, 255);
	--color-body-bg: rgb(243, 243, 243);
	--color-modal_header-bg: rgb(245, 245, 245);
	--color-disabled-button: rgb(188, 184, 194);
	--color-border-button: rgb(221, 221, 221);
	--color-border-table: rgb(186,186,186);
	--color-font-grey: rgb(102, 102, 102);
	--color-font-disable: rgb(204, 204, 204);
	/* fonts */
	--font-default: "Helvetica Neue", Helvetica, sans-serif;
	--font-button: 'Open Sans', sans-serif, Helvetica;
	/* box-shadow */
	--button-shadow1-params: 0 0 0.5rem 0 inset;
	--button-shadow2: rgb(238, 238, 238) 0 0.1rem 0.1rem 0;
	--button-shadow-green: rgb(164, 207, 108) var(--button-shadow1-params), var(--button-shadow2);
	--button-shadow-red: rgb(239, 85, 135) var(--button-shadow1-params), var(--button-shadow2);
	--button-shadow-blue: rgb(105, 170, 220) var(--button-shadow1-params), var(--button-shadow2);
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--font-default);
	background-color: var(--color-body-bg);
}
